<div class='d-flex justify-content-center'>
  <div class="col-4 border rounded p-5">
    <%= turbo_frame_tag "signup_modal_frame" do %>
      <h2 class="mb-4">Sign up</h2>
      <%= render "devise/registrations/form" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>