<% comments.each do |comment| %>
    <div class="comment-wrapper ps-0 mb-3">
        <%= render comment %>
    </div>
<% end %>

<% if comments.next_page %>
    <turbo-frame
        data-controller="lazy-loader"
        id="comments_next_page"
    >
        <%= link_to '', post_comments_path(post_id: post_id,
                                           page: comments.next_page,
                                           order: order,),
                    class: 'd-none',
                    data: { 'lazy-loader-target' => 'link' }
        %>
        <div class="text-center">
            <div class="spinner-border text-danger text-center" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </turbo-frame>
<% end %>
  