<div id="<%= dom_id comment %>">
  <p>
    <strong>
      <%= comment.user.login%>:
    </strong>
    <span>
      <%= comment.body %>
    </span>
    <div>
      <%= format_comment_date(comment.created_at) %>
    </div>
  </p>
</div>
