<div id="comment_<%= comment_id %>_replies_next_page">
</div>
<%= link_to comment_replies_path(comment_id: comment_id),
            class: 'text-danger fw-medium nav-link' do
%>
    <i class="bi bi-chevron-down me-1"></i>
    <span>Show replies</span>
<% end %>