<div class="sort-button text-end mb-4 pe-3">
    <%= button_tag 'Sort by',
        type: 'button', class: "nav-link d-inline-block navbar-toggler rounded-pill",
        data: { bs_toggle: 'dropdown' }, aria_expanded: 'false' do
    %>
        <i class="bi bi-filter-left me-1 fs-5"></i>
        Sort by
    <% end %>
    <div class="dropdown">
        <ul class="dropdown-menu">
        <li>
            <%= link_to 'Best', post_comments_path(post_id: post_id, order: 'rating'),
                    class: 'dropdown-item', data: { turbo_frame: "post_#{post_id}_comments_frame" }
            %>
        </li>
        <li>
            <%= link_to 'Newest', post_comments_path(post_id: post_id, order: 'newer'),
                    class: 'dropdown-item', data: { turbo_frame: "post_#{post_id}_comments_frame" }
            %>
        </li>
        <li>
            <%= link_to 'Oldest', post_comments_path(post_id: post_id, order: 'older'),
                    class: 'dropdown-item', data: { turbo_frame: "post_#{post_id}_comments_frame" }
            %>
        </li>
        </ul>
    </div>
</div>