<% content_for :title, "Editing comment" %>

<h4 class="mb-3">Edit comment</h4>

<turbo-frame id="<%= dom_id @comment %>_frame">
    <div class="bg-light p-3 rounded-5">
        <%= render "form", comment: @comment, post: @post %>
    </div>
<turbo-frame>
