<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h5>
      Errors during user registration
    </h5>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
