<%= render @user %>

<% if @user == current_user %>
  <div class="my-4">
    <%= link_to "Edit profile info", edit_user_path(@user), class: "btn btn-outline-danger" %>
  </div>
<% end %>

<hr class="mt-5 mb-4"/>

<div id='user-posts'>
  <%  if @posts.any? %>
    <h4 class="ms-3 mb-3">All posts</h4>
    <%= render 'posts/posts', posts: @posts %>
  <% else %>
      <% if @user == current_user %>
        <div class="text-secondary mb-3">
          You don't have any posts yet. Write your first!
        </div>
        <%= link_to 'New post', new_post_path, class: 'btn btn-secondary px-4' %>
      <% else %>
        <div class="text-secondary">
          User does not have any posts
        </div>
      <% end %>
    </div>
  <%- end %>
</div>
