<%= button_tag class: 'nav-link d-inline me-4',
    data: { controller: 'likes',
    action: 'click->likes#like',
    'likes-is-liked-value': liked?(post),
    'likes-post-id-value': post.id,
    'likes-is-authorized-value': user_signed_in?, } do
%>
    <div class="post-like text-danger">
    <%= tag.i(
        class: "bi bi-heart me-1 align-text-top d-inline-block",
        data: { 'likes-target': 'likeButton' }
    )%>
    <span data-likes-target='likeCount'>
        <%= post.likes_count %>
    </span>
    </div>
<% end %>