<% content_for :title, "Sign In" %>

<div class='d-flex justify-content-center'>
  <div class="col-8 border rounded p-5">
    <turbo-frame id="login_modal_frame">
      <h2 class="mb-4">Sign In</h2>
      <%= render "devise/sessions/form" %>
      <%= render "devise/shared/links" %>
    </turbo-frame>
  </div>
</div>