<div id="feed">
  <% if @posts.any? %>
    <%= render 'posts', posts: @posts, filter: @filter %>
  <% else %>
    <div class="text-center my-5">
      <h4>No posts available</h4>
      <p class="text-body-secondary">Try adjusting your filters or check back later.</p>
    </div>
  <% end %>
</div>
