<% content_for :title, "Posts" %>

<% if @user %>
  <h1>
    <%= @user.nickname %>'s posts
  </h1>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path if @can_post %>
