<% content_for :title, "Posts" %>

<% if @user %>
  <h1>
    <%= @user.nickname %>'s posts
  </h1>
  <hr/>
<% end %>

<div id="feed" class="row row-cols-1 g-3">
  <% @posts.each do |post| %>
    <div class="post-wrapper col ps-0">
      <%= render post %>
    </div>
  <% end %>
</div>
