@import './application.bootstrap.scss';

header {
    z-index: 9999;
}

.comment-body, .post-content {
    p:last-child {
        margin-bottom: 0;
    }
}

.post-avatar {
    min-height: 25px;
    min-width: 25px;
    overflow: hidden;

    img {
        width: 25px;
        height: 25px;
    }
}

.comment-avatar {
    min-width: 25px;
    min-height: 25px;

    img {
        width: 25px;
        height: 25px;
    }
}

.img-md {
    max-width: 150px;
    max-height: 150px;
}

.img-lg {
    max-width: 300px;
    max-height: 300px;
}

.img-sm {
    max-height: 100px;
    max-width: 100px;
}

#sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    min-height: 300px;
}