@import './application.bootstrap.scss';

header {
    z-index: 99;
    max-height: 87px;

    .header-logout {
        transition: color 0.1s ease-in-out;

        &:hover {
            color: black !important;
        }
    }
}

.comment-body, .post-content {
    p:last-child {
        margin-bottom: 0;
    }
}

.comment-block {
    turbo-frame {
        &[busy] {
            a {
                pointer-events: none;
            }
        }
    }
}

.profile-avatar {
    .change-avatar {
        cursor: pointer;
        opacity: 0;

        &:hover {
            opacity: 50%;
        }
    }
}

.post-avatar {
    min-height: 25px;
    min-width: 25px;
    overflow: hidden;

    img {
        width: 25px;
        height: 25px;
    }
}

.author-avatar {
    min-height: 50px;
    min-width: 50px;
    overflow: hidden;

    img {
        width: 50px;
        height: 50px;
    }
}

.comment-avatar {
    min-width: 25px;
    min-height: 25px;

    img {
        width: 25px;
        height: 25px;
    }
}

.img-md {
    max-width: 150px;
    max-height: 150px;
}

.img-lg {
    max-width: 300px;
    max-height: 300px;
}

.img-sm {
    max-height: 100px;
    max-width: 100px;
}

.post-like {
    i {
        transition: transform 0.2s ease-in-out;

        &.liking {
            transform: scale(1.5);
        }
    }
}

#sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 115px;

    .sidebar-avatar {
        width: 30%;
        min-width: 64px;

        img {
            position: absolute;
        }
    }

    .sidebar-logout {
        transition: color 0.1s ease-in-out;

        &:hover {
            color: black !important;
        }
    }
}