<% if notice %>
    <div class="alert alert-success text-center" role="alert">
        <i class="bi bi-check-circle-fill"></i>
        <%= notice %>
    </div>
<% end -%>
<% if alert %>
    <div class="alert alert-danger text-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <%= alert %>
    </div>
<% end %>