<div class="position-relative h-100 border-end">
    <div id="left-bar" class="sidebar position-sticky py-3">
        <nav class="overflow-hidden">
            <ul class="sidebar-links text-secondary fw-medium list-group">
                <%= render 'shared/sidebars/left/nav_link', path: '/new', name: 'Newest', icon: 'layout-text-window' %>
                <%= render 'shared/sidebars/left/nav_link', path: '/hot', name: 'Trending', icon: 'fire' %>
                <%= render 'shared/sidebars/left/nav_link', path: '/feed', name: 'Feed', icon: 'bookmarks' %>
                <%= render 'shared/sidebars/left/nav_link', path: '/best', name: 'Best', icon: 'star' %>
            </ul>
        </nav>
    </div>
</div>