<% if @previous_page %>
    <div class='mb-2'>
        <%= link_to @previous_page, class: 'fs-4 nav-link text-secondary' do %>
            <i class="bi bi-arrow-left"></i>
        <% end %>
    </div>
<% end %>