<div class="position-relative h-100">
    <div id="right-bar" class="sidebar position-sticky py-3 ps-1">
        <% if user_signed_in? %>            
            <%= render "shared/sidebars/right/profile_plate" %>
        <% else %>
            <div class="p-4 bg-light w-100 rounded-4">
                <h4 class="mb-4">Sign In</h4>
                <%= render "devise/sessions/form" %>
                <%= render "devise/shared/links" %>
            </div>
        <% end %>
    </div>
</div>